build/
dist/
coverage/
node_modules/
cdk/cdk.out/
public/
frontend/public/dcv/
frontend/.next/

# Files without parsers
.prettierignore
Dockerfile
**/Dockerfile
*.dockerignore
*.env
*.gitignore
*.samconfig.toml
samconfig.toml
