services:
    dynamodb:
        image: amazon/dynamodb-local:latest
        container_name: lunaris-dynamodb
        command: "-jar DynamoDBLocal.jar -sharedDb -inMemory"
        ports:
            - "8000:8000"
        networks:
            - lunaris-network

    lambda:
        build:
            context: ./lambda
            dockerfile: Dockerfile
        container_name: lunaris-lambda
        ports:
            - "9000:8080"
        environment:
            - AWS_REGION=us-east-1
            - AWS_ACCESS_KEY_ID=dummy
            - AWS_SECRET_ACCESS_KEY=dummy
            - DYNAMODB_ENDPOINT=http://dynamodb:8000
            - RUNNING_INSTANCES_TABLE=RunningInstances
            - RUNNING_STREAMS_TABLE_NAME=RunningStreams
        depends_on:
            - dynamodb
        networks:
            - lunaris-network
    frontend:
        container_name: lunaris-frontend
        build:
            context: ./frontend
            dockerfile: Dockerfile
        environment:
            - NODE_ENV=production
            - NEXT_PUBLIC_API_URL=http://localhost:3000
        ports:
            - "3000:3000"
        networks:
            - lunaris-network

networks:
    lunaris-network:
        driver: bridge
