name: Prettier Check
on:
    pull_request:
        # intentionally blank, should run on all PRs
jobs:
    prettier:
        name: Prettier Check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "22"
            - name: Install dependencies
              run: npm ci
            - name: Run Prettier
              run: npm run prettier
