name: Prettier Check
on:
    pull_request:
        # intentionally blank, should run on all PRs
jobs:
    prettier:
        name: Prettier Check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "22"
            - name: Install dependencies
              run: npm ci
            - name: Get changed files
              id: changed-files
              uses: tj-actions/changed-files@v45
            - name: Run Prettier on changed files
              if: steps.changed-files.outputs.any_changed == 'true'
              run: npx prettier --check ${{ steps.changed-files.outputs.all_changed_files }}
            - name: No files to check
              if: steps.changed-files.outputs.any_changed == 'false'
              run: echo "No files changed"
